{% extends 'parts/content.twig' %}

{% block title 'Produkty' %}

{% block container %}
    <div class="col-md-12">
        <?php foreach ($products as $product): ?>
        {% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="/product?id={{ product.product_id }}">
                        <img class="image" height="300px"
                             src="{{ product.image }}" alt=""/>
                    </a>
                    <div class="caption">
                        <h3>{{ product.name_ }}</h3>
                        <p>Cena:{{ product.price }} PLN</p>
                        <a href="/product?id={{ product.product_id }}"
                           class="btn btn-primary"
                           role="button">
                            Więcej
                        </a>
                        <button class="btn btn-default guzik-dodajacy-do-koszyka"
                                role="button"
                                data-product_id="{{ product.product_id }}">
                            Dodaj do koszyka
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_scripts %}
    <script>

        $(".guzik-dodajacy-do-koszyka").click(function () {
            var product_id = $(this).data('product_id');
            $.post('/cart_update', {
                    'product_id': product_id
                },

                function (data) {
                    $('#stan_koszyka').html(data);
                });
        });


    </script>
{% endblock %}
